/**MENU */
.menu {
    background-color: var(--color-white);
    border-bottom: 4px solid var(--color-red);
    width: 100%;
    height: fit-content;
    padding: 10px;
}

.menu nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 2rem;
}

/**SEPARAR O CONTEÚDO */
.separate {
    width: 100%;
    height: fit-content;
}

.separate .colors {
    display: grid;
    grid-template-rows: repeat(4, 15px);
    width: 100%;
}

.colors div:nth-child(1) {
    background-color: var(--color-yell);
    /* Primeira linha com fundo vermelho */
}

.colors div:nth-child(2) {
    background-color: var(--color-orange);
    /* Segunda linha com fundo verde */
}

.colors div:nth-child(3) {
    background-color: var(--color-red);
    /* Terceira linha com fundo azul */
}

.colors div:nth-child(4) {
    background-color: var(--color-blue);
    /* Quarta linha com fundo amarelo */
}

/** SOBRE MIM */
.about-me {
    background-image: url(../img/fundo1.png);
    background-size: cover;
    background-color: var(--color-white);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 90px 0px;
}

.about-me .about-box {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* *sobre-mim imagem */
.image-me {
    width: 400px; /* 300 */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.image-me figure {
    border: 7px solid var(--color-blue);
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
}

.image-me figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-me p {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

/* *sobre mim box texto */
.box-texto {
    width: 600px;
    height: fit-content;
    padding: 20px 50px;
    background-color: var(--color-white);
    border-radius: var(--radius);
    position: relative;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.072));
}

.box-texto figure {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20px;
    left: -35px;
    animation: move 2s right infinite;
}

.box-texto figure img {
    width: 100%;
    height: 100%;
}

.box-texto p {
    margin-top: 37px;
    margin-bottom: 15px;
}

.box-texto li {
    text-align: justify;
    font-size: 15px;
    list-style-type: none;
}


.box-texto li::before {
    content: "•";
    font-size: 20px;
    margin-right: 9px;
    color: var(--color-blue);
}

/* *SESSÃO PROJETOS */
.projetos {
    background-color: var(--color-white);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 90px 0px;
}

.proj-layout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title-proj {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    padding-left: 2rem;
}

/* *boxes projetos */
.projeto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.projeto-container .proj-boxes {
    width: 12rem;
    height: fit-content;
}

.projeto-container .proj-boxes .img-box {
    width: 100%;
    height: 340px;
    display: flex;
    padding: 20px;
    margin-bottom: 2rem;
    align-items: center;
    border-radius: var(--radius);
    overflow: hidden;
    background-color: var(--color-white);
    box-shadow: inset 0px 0px 0px 0px #b2b2b34c;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.043));
    position: relative;
    top: 0;
    transition: all .2s ease-in;
}

.projeto-container .proj-boxes .img-box:hover {
    top: -10px;
    box-shadow: inset 0px 0px 0px 0px #b2b2b34d;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.09));
}


.projeto-container .proj-boxes .img-box img {
    width: 100%;
}

.projeto-container .desc-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.projeto-container .desc-box h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}

.stacks {
    display: flex;
    justify-content: center;
}

.stacks img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.desc-box a {
    font-size: 15px;
    font-weight: 600;
    color: var(--color-blue);
}

/* *Habilidades */
.habilidades {
    background-image: url(../img/fundo2.png);
    background-size: cover;
    background-color: var(--color-blue2);
    background-blend-mode: color-dodge;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 90px 0px;
}

.skill-layout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.skill-container {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 4rem;
    justify-content: center;
    align-items: flex-end;
    padding: 0 4rem;
}

.skill-percent {
    width: 355px;
    height: 475px;
}

.box-percent {
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    border-radius: var(--radius);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.box-percent>h2 {
    justify-self: flex-start;
    margin-bottom: 30px;
}

.percent {
    width: 100%;
    justify-content: left;
}

.percent h3 {
    font-weight: 900;
}

.percent-container {
    display: flex;
    align-items: center;
    padding: 0 3px;
}

.percent-container div:nth-of-type(1) p {
    margin-right: 2px;
    justify-self: left;
    font-weight: 800;
    font-size: 12px;
}

.percent-container .barra-percent {
    width: 100%;
    height: 5px;
}

.percent-container .barra-percent .quantidade {
    height: 100%;
    border-radius: var(--radius);
    background-color: var(--color-orange);
}

.quantidade.one {
    width: 80%;
}

.quantidade.two {
    width: 70%;
}

.quantidade.three {
    width: 40%;
}

.quantidade.four {
    width: 40%;
}

.quantidade.five {
    width: 80%;
}

.quantidade.six {
    width: 80%;
}

.percent-container div:nth-of-type(3) p {
    margin-left: 2px;
    font-weight: 800;
    font-size: 12px;
}

.skills div {
    display: flex;
    flex-wrap: wrap;
}

.skills div img {
    width: 70px;
    margin-right: 5px;
    border-radius: var(--radius);
}

/* *CONTATOS */
.contatos {
    background-image: url(../img/fundo3.png);
    background-size: cover;
    background-color: var(--color-white);
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding: 90px 0px;
}

.cont-layout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.title-contatos {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    padding-left: 2rem;
}

.contato-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cont-medias {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;

}

.cont-medias figure {
    padding: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cont-medias img {
    width: 60px;
    object-fit: 3/4;
}